<div class="map-module">
	<div class="chooseCity" >
		<button class="chooseCity__btn">
			<i class="icon-markerSmall"></i>
			<span>Город</span>
		</button>
		<form class="searchCity">
			<input type="text" class="searchCity__input" placeholder="Например, Новосибирск" tabindex="0">
			<div class="searchCity__box" >
				<div class="searchCity__scroll" >
					<ul class="suggestions">
						<li class="suggestions__list" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim fuga at delectus natus exercitationem porro laudantium dolores doloribus, excepturi accusantium dignissimos, cumque cupiditate rerum, non molestias eveniet provident officia tenetur, nobis suscipit. Debitis, ab. Similique numquam accusamus praesentium iusto nam iure eligendi inventore pariatur expedita, voluptate repudiandae modi fuga, sint necessitatibus ratione deleniti architecto quae ad aspernatur ex explicabo. Autem nemo recusandae distinctio adipisci, doloremque odit dolorem vel suscipit minima, illo cumque beatae quidem reiciendis totam excepturi voluptate id, sequi molestiae eum itaque necessitatibus animi repellendus ducimus? Itaque, voluptatem praesentium magni quos veritatis dolorum consectetur nam, quod omnis quis, excepturi.</li>
						<li class="suggestions__list" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim fuga at delectus natus exercitationem porro laudantium dolores doloribus, excepturi accusantium dignissimos, cumque cupiditate rerum, non molestias eveniet provident officia tenetur, nobis suscipit. Debitis, ab. Similique numquam accusamus praesentium iusto nam iure eligendi inventore pariatur expedita, voluptate repudiandae modi fuga, sint necessitatibus ratione deleniti architecto quae ad aspernatur ex explicabo. Autem nemo recusandae distinctio adipisci, doloremque odit dolorem vel suscipit minima, illo cumque beatae quidem reiciendis totam excepturi voluptate id, sequi molestiae eum itaque necessitatibus animi repellendus ducimus? Itaque, voluptatem praesentium magni quos veritatis dolorum consectetur nam, quod omnis quis, excepturi.</li>

					</ul>
				</div>
			</div>

		</form>
	</div>

	<div class="map-section">
		<div class="map-aside">
			<ul class="filial">
				<li class="filial__item">Белгород</li>
			</ul>
		</div>

		<div id="map"></div>

		<script>
	    function initMap() {
	      var uluru = {lat: 55.744510, lng: 37.605334};
	      var map = new google.maps.Map(document.getElementById('map'), {
	        zoom: 15,
	        center: uluru
	      });
	      // var marker = new google.maps.Marker({
	      //   position: uluru,
	      //   map: map
	      // });
	    }
	  </script>
	  <script async defer
	  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcnQgh1mE04it6R7C7t9Yx0oAZ5nykT_c&callback=initMap">
	  </script>
	</div>
</div>