<div class="map-module ">
	<div class="chooseCity box_20" >
		<button class="chooseCity__btn">
			<i class="icon-markerSmall"></i>
			<span>Город</span>
		</button>
		<form class="searchCity">
			<input type="text" class="searchCity__input" placeholder="Например, Новосибирск" tabindex="0">
			<div class="searchCity__box" >
				<div class="searchCity__scroll" >
					<ul class="suggestions">
						<li class="suggestions__list" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim fuga at delectus natus exercitationem porro laudantium dolores doloribus, excepturi accusantium dignissimos, cumque cupiditate rerum, non molestias eveniet provident officia tenetur, nobis suscipit. Debitis, ab. Similique numquam accusamus praesentium iusto nam iure eligendi inventore pariatur expedita, voluptate repudiandae modi fuga, sint necessitatibus ratione deleniti architecto quae ad aspernatur ex explicabo. Autem nemo recusandae distinctio adipisci, doloremque odit dolorem vel suscipit minima, illo cumque beatae quidem reiciendis totam excepturi voluptate id, sequi molestiae eum itaque necessitatibus animi repellendus ducimus? Itaque, voluptatem praesentium magni quos veritatis dolorum consectetur nam, quod omnis quis, excepturi.</li>
						<li class="suggestions__list" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim fuga at delectus natus exercitationem porro laudantium dolores doloribus, excepturi accusantium dignissimos, cumque cupiditate rerum, non molestias eveniet provident officia tenetur, nobis suscipit. Debitis, ab. Similique numquam accusamus praesentium iusto nam iure eligendi inventore pariatur expedita, voluptate repudiandae modi fuga, sint necessitatibus ratione deleniti architecto quae ad aspernatur ex explicabo. Autem nemo recusandae distinctio adipisci, doloremque odit dolorem vel suscipit minima, illo cumque beatae quidem reiciendis totam excepturi voluptate id, sequi molestiae eum itaque necessitatibus animi repellendus ducimus? Itaque, voluptatem praesentium magni quos veritatis dolorum consectetur nam, quod omnis quis, excepturi.</li>

					</ul>
				</div>
			</div>

		</form>
	</div>

	<div class="map-btns">
		<button class="btn btn-map is-active">Карта</button>
		<button class="btn btn-list">Медицинские центры</button>
	</div>

	<div class="map-section">
		<div class="map-aside">
			<ul class="filial">
				<li class="filial__item">Введите город</li>
			</ul>
		</div>

		<div id="map"></div>

		<script>
	    function initMap() {
	      var uluru = {lat: 55.744510, lng: 37.605334};
	      var map = new google.maps.Map(document.getElementById('map'), {
	        zoom: 15,
	        center: uluru
	      });
	    }
	  </script>

	  <script async defer
	  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcnQgh1mE04it6R7C7t9Yx0oAZ5nykT_c&callback=initMap">
	  </script>
	</div>

		<div class="hiden-map-info" >
	  <div class="map-content">
	  	<h5 class="map__title">Управление делами Президента РФ Федеральное Государственное бюджетное учреждение Объединенная Больница с Поликлиникой</h5>
	  	<p class="map__address">Москва, Мичуринский проспект д. 6</p>
	  	<div class="map__contact">
	  		<div class="map__row">
	  			<img src="static/img/content/icon-tel.png" alt="tel">
	  			<a href="tel:+74952121111" class="map__tel" data-tel="+7 (495) 212 1111">+7 (495) 212 ****</a>
	  			<button class="show-tel">Показать номер</button>
	  		</div>
	  		<div class="map__row">
	  			<img src="static/img/content/icon-earth.png" alt="tel">
	  			<a href="http://medsi.ru/clinics/belorusska" class="map__site">http://medsi.ru/clinics/belorusska</a>
	  		</div>
	  	</div>
	 		<p class="map__info">Дополнительная информация: Для записи на прием к врачу позвоните, пожалуйста, по указанному телефону. Обязательно уточните, работает ли клиника по ОМС, ДМС полисам или организован платный прием.</p>
	  </div>
	</div>
</div>