<h3 class="title__section">Различают такие типы проявления депрессии:</h4>
<h5 class="title__sl">Эмоциональные проявления депрессии</h5>

<ul class="emotions">
	<li class="emotions__list">
		{{Icon iconName='icon-01' className='emotions__icon' iconWidth='25' iconHeight='25'}}
		<p class="desc__m">тревога, чувство внутреннего напряжения, ожидание беды</p>
	</li>
	<li class="emotions__list">
		{{Icon iconName='icon-02' className='emotions__icon' iconWidth='25' iconHeight='25'}}
		<p class="desc__m">чувство вины, частые самообвинения</p>
	</li>
	<li class="emotions__list">
		{{Icon iconName='icon-03' className='emotions__icon icon-3' iconWidth='25' iconHeight='25'}}
		<p class="desc__m">недовольство собой, снижение уверенности в себе, снижение самооценки</p>
	</li>
	<li class="emotions__list">
		{{Icon iconName='icon-04' className='emotions__icon' iconWidth='25' iconHeight='25'}}
		<p class="desc__m">тоска, страдание, угнетенное, подавленное настроение, отчаяние</p>
	</li>
	<li class="emotions__list">
		{{Icon iconName='icon-05' className='emotions__icon' iconWidth='25' iconHeight='25'}}
		<p class="desc__m">раздражительность</p>
	</li>
	<li class="emotions__list">
		{{Icon iconName='icon-06' className='emotions__icon' iconWidth='25' iconHeight='25'}}
		<p class="desc__m">снижение интереса к окружающему, снижение или утрата способности переживать <br>удовольствие от ранее приятных занятий</p>
	</li>
	<li class="emotions__list">
		{{Icon iconName='icon-07' className='emotions__icon' iconWidth='25' iconHeight='25'}}
		<p class="desc__m">утрата способности переживать какие-либо чувства (в случаях глубоких депрессий)</p>
	</li>
</ul>


<h3 class="title__section">Классификация депрессий<sup>3</sup></h4>
<p class="desc__m box_30">Российские психиатры выделяют несколько подтипов депрессий в зависимости от того, какой синдром  является ведущим в картине заболевания. Так, существуют такие виды депрессий:</p>

<ul class="term">
	<li class="term__list">
		<div class="term__pic">
			{{Icon iconName='icon-10' className='term__icon' iconWidth='25' iconHeight='25'}}
		</div>
		<div class="term__text">
			<h6 class="title__mx">Апатическая депрессия</h6>
			<p class="desc__m">У человека в апатической депрессии полностью отсутсвуют желания и стремления. Снижение уровня побуждений приводит к тому, что человек перестает чем-либо интересоваться, становится полностью безынициативным<sup>3</sup></p>
		</div>
	</li>
	<li class="term__list">
		<div class="term__pic">
			{{Icon iconName='icon-11' className='term__icon' iconWidth='25' iconHeight='25'}}
		</div>
		<div class="term__text">
			<h6 class="title__mx">Сенесто-ипохондрическая депрессия</h6>
			<p class="desc__m">В структуре этой депрессии присутствуют не только депрессивные симптомы, но и жалобы на неприятные ощущения в различных участках тела. В таком состоянии человека очень беспокоит свое соматическое (телесное) заболевание, у него появляются навязчивые мысли по поводу физического здоровья. Такие симптомы как душевная боль и тоска отходят на второй план1<sup>3</sup></p>
		</div>
	</li>
	<li class="term__list">
		<div class="term__pic">
			{{Icon iconName='icon-12' className='term__icon  icon-12' iconWidth='25' iconHeight='25'}}
		</div>
		<div class="term__text">
			<h6 class="title__mx">Адинамическая депрессия</h6>
			<p class="desc__m">У людей, страдающих данным вариантом депрессии, часто развивается упадок сил, который сопровождается мышечной слабостью. И от человека можно услышать: «Ничего не хочу делать, устал». Двигательная активность может уменьшиться или совсем прекратиться. Для этого вида депрессии характерны слабость, бессилие, физическая заторможенность. Пациенты жалуются на «отсутствие сил», «умственное бессилие». Не редки у пациентов мысли о собственной неполноценности и жалость к себе, при этом самообвинение не характерно3<sup>3</sup></p>
		</div>
	</li>
	<li class="term__list">
		<div class="term__pic">
			{{Icon iconName='icon-13' className='term__icon' iconWidth='25' iconHeight='25'}}
		</div>
		<div class="term__text">
			<h6 class="title__mx">Тревожная депрессия</h6>
			<p class="desc__m">Проявляется двигательным возбуждением на фоне повышенной тревоги. Люди, страдающие депрессией такого вида, возбуждены, быстро и много говорят, мышление ускоренное и сбивчивое, тревога ощущается на физическом уровне. Идеаторные расстройства проявляются наплывом и путаницей мыслей, быстрой и непоследовательной речью. Также возникают суицидальные мысли и мысли самообвинения. Данный вариант депрессии является самым распространенным4<sup>3</sup></p>
		</div>
	</li>
	<li class="term__list">
		<div class="term__pic">
			{{Icon iconName='icon-14' className='term__icon' iconWidth='25' iconHeight='25'}}
		</div>
		<div class="term__text">
			<h6 class="title__mx">Меланхолическая или тоскливая депрессия</h6>
			<p class="desc__m">Характеризуется постоянно подавленным настроением наряду с гнетущей тоской. Часто встречается у людей среднего возраста и совсем не характерна для молодежи. Этот вариант депрессии переживается как сильная душевная боль («витальная тоска»), сопровождающаяся болезненными ощущениями в области сердца. Стремление к какой-то деятельности отсутствует, большую часть времени больные проводят в постели. Все происходящее видится ими в сером цвете, в памяти всегда всплывают старые обиды и ошибки прошлого. В крайне тяжелых случаях возникают суицидальные мысли и поступки3.<sup>3</sup></p>
		</div>
	</li>
	<li class="term__list">
		<div class="term__pic">
			{{Icon iconName='icon-15' className='term__icon icon-15' iconWidth='25' iconHeight='25'}}
		</div>
		<div class="term__text">
			<h6 class="title__mx">Депрессия с бредом и галлюцинациями</h6>
			<p class="desc__m">В структуре этой депрессии на первый план выступают бредовые идеи и/или галлюцинации. Бред, как правило, сводится к идеям самообвинения и самоуничижения1. Пациент с этим вариантом депрессии испытывает бредовые идеи виновности, осуждения, может возникнуть бред преследования и отравления. Очень часто этот вид депрессии может сопровождаться у больного убежденностью, что не только он, но и все его близкие ощущают воздействие потусторонних сил и слышат «голоса».<sup>3</sup></p>
		</div>
	</li>
</ul>

