// Common styles of the project


html
	+selection
		background: rgba(0, 0, 0, .2)
		color: #fff

html, body
	height: 100%
	+box
	*
		+box

body
	position: relative
	color: $desc
	+hr

* html .page__wrapper
	height: 100%

.page__gray
	background-color: #F3F3F3

.pages
	display: block
	width: 300px
	vertical-align: top
	margin: 0px auto
	padding-top: 60px
	list-style-type: decimal
	li
		margin-bottom: 10px
	a
		color: $desc
		&:hover
			color: $blue
a
	text-decoration: none
	outline: none


h1, h2, h3, h4, h5, h6
	margin: 0 0 .8em
	font-weight: normal
	line-height: 1.1

h1
	font-size: 2em
h2
	font-size: 1.8em
h3
	font-size: 1.6em
h4
	font-size: 1.5em
h5
	font-size: 1.4em
h6
	font-size: 1.3em
button
	cursor: pointer
	padding: 0
	border: none
	outline: none

b, strong
	font-weight: normal

p
	margin: 0

.layout
	&__n
		width: 100%
		max-width: 1040px
		margin: 0 auto
		padding: 0 40px
		+r(700)
			padding: 0 10px
	&__m
		width: 100%
		max-width: 940px
		margin: 0 auto
	&__xl
		width: 100%
		max-width: 1050px
		margin: 0 auto
		padding: 0 40px
		+r(700)
			padding: 0 10px
	&__wide
		+r(780)
			width: calc(100% + 80px )
			margin-left: -40px
		+r(700)
			width: calc(100% + 20px )
			margin-left: -10px

.flex_j
	display: flex
	align-items: center
	justify-content: space-between

.is-center
	text-align: center
	.chooseCity__content
		margin: 0 auto

.title
	&__big
		font-size: 64px
		color: #01354c
		margin-bottom: .5em
		text-transform: uppercase
		+hbl
		+r(770)
			font-size: 48px
		+r(750)
			font-size: 24px
	&__b
		color: #fff
		font-size: 48px
		margin-bottom: .6em
		+hb
		+r(750)
			font-size: 30px
	&__bl
		color: $blueBlack
		font-size: 48px
		margin-bottom: .6em
		+hbl
		+r(750)
			font-size: 24px
	&__bm
		color: $blue
		font-size: 36px
		margin-bottom: .6em
		+hb
		+r(750)
			font-size: 24px
	&__sx
		color: $blueBlack
		font-size: 32px
		margin-bottom: .6em
		+hbl

	&__s
		color: $blueText
		font-size: 30px
		margin-bottom: 1.2em
		+hr
		+r(780)
			font-size: 24px
	&__sl
		color: $blue
		font-size: 28px
		margin-bottom: 1.2em
		+hr
		+r(780)
			font-size: 22px
	&__sb
		color: $blueText
		font-size: 24px
		line-height: .9
		margin-bottom: .7em
		+hr
	&__section
		font-size: 24px
		line-height: 1.25
		margin-bottom: 1em
		color: #343535
		+hbl
		+r(750)
			font-size: 18px
	&__m
		font-size: 18px
		line-height: 2
		margin-bottom: 1em
		color: #343535
		+hb
	&__ms
		font-size: 18px
		line-height: 1.2
		margin-bottom: 1em//?
		color: #004f71
		+hbl
		+r(750)
			font-size: 16px
	&__mx
		font-size: 16px
		line-height: 1.2
		margin-bottom: 1em
		color: #343535
		+hbl

.subtitle
	.flex_j
		align-items: flex-start
		+r(500)
			flex-direction: column-reverse
			justify-content: center
	.title__s
		width: 78%
		+r(500)
			width: 100%
	img
		width: 20%
		+r(500)
			width: 50%
			margin: 0 auto 10px
			display: none

.desc
	&__b
		font-size: 18px
		line-height: 1.25
		font-family: Georgia, serif
		+r(650)
			font-size: 14px
	&__normal
		font-size: 16px
		line-height: 1.25
		font-family: Georgia, serif
		+r(650)
			font-size: 14px
	&__n
		font-size: 14px
		line-height: 1.25
		font-family: Georgia, serif
		+r(650)
			font-size: 14px
	&__m
		font-size: 14px
		line-height: 1.25
		+hr
	&__link
		color: #009de1
		+tr(.4s)
		&:hover
			color: $blueBlack

.quotes
	display: flex
	// align-items: flex-start
	align-items: center
	+r(650)
		display: block
	&-bg
		display: flex
		align-items: center
		background-color: #f1b434
		padding: 20px 20px 20px 6%
		margin: 30px 0
		+r(650)
			align-items: flex-start
		q
			display: block
			position: relative
			color: #fff
			font-size: 18px
			line-height: 1.33
			+hb
			&:before,
			&:after
				content: none
	&-simple
		display: flex
		align-items: flex-start
		padding: 30px 20px
		width: 34%
		+r(770)
			width: 50%
		+r(650)
			width: 100%
		q
			display: block
			position: relative
			color: $desc
			font-size: 18px
			line-height: 1.33
			+hb
			&:before,
			&:after
				content: none
		.quotes__icon
			margin-right: 15px
	&__icon
		display: inline-block
		vertical-align: top
		width: 40px
		margin-right: 40px
		padding-top: .2em
		+r(650)
			margin-right: 20px
	&__pic
		position: relative
		display: inline-block
		vertical-align: top
		width: 60%
		font-size: 0
		+r(770)
			width: 50%
		+r(650)
			width: 100%
	&__img
		display: inline-block
		vertical-align: top
		min-width: 100%
		width: 100%

.section
	&__pic
		font-size: 0
	&__img
		max-width: 100%
		display: inline-block
		vertical-align: top

.startscreen
	&__item
		position: relative
		display: block
		width: 100%
	&__pic
		font-size: 0
	&__img
		width: 100%
		max-width: 100%
	.title__big
		position: absolute
		bottom: 50%
		left: 46px
		+try(100%)
		margin-bottom: 0
		+r(700)
			left: 10px

.column
	display: flex
	justify-content: space-between
	+box
	+r(650)
		display: block
		width: 100%
	&__item
		display: inline-block
		vertical-align: top
		width: 46%
		+r(650)
			display: block
			width: 100%
	&-ppp
		background-color: #fff
		padding: 40px
		width: 100%
		max-width: 480px
		border-radius: 4px
		.column__item
			width: 100%

.column-text
	column-width: 30%
	column-count: 2
	column-gap: 90px
	column-rule: 1px solid $n
	+r(760)
		column-count: 1

.breadcrumbs
	padding: 0
	margin: 0 0 30px
	list-style: none
	&__list
		position: relative
		display: inline-block
		&:not(:last-child)
			margin-right: 34px
			&:after
				content: ''
				position: absolute
				right: -25px
				top: 50%
				+try(-50%)
				width: 10px
				height: 7px
				background-image: url(../img/content/icon-right.png)
	&__link
		font-size: 14px
		color: $blueLight
		+g
		+tr(.4s)
		&:hover
			color: $blueBlack

.status
	display: flex
	&:hover
		opacity: .8
	&__pic
		position: relative
		width: 33%
		font-size: 0
		overflow: hidden
	&__img
		+vcenter
		min-width: 100%
		height: 100%
		+r(650)
			min-height: 100%
			height: auto
	&__icon
		display: inline-block
		vertical-align: top
		min-width: 16px
		margin-left: 10px
	&__content
		display: flex
		align-items: center
		justify-content: space-between
		width: 66%
		min-height: 110px
		padding: 15px
		background-color: $yellow
		.title__ms
			margin-bottom: 0

.warn
	font-size: 0
	display: flex
	align-items: center
	background-color: #ffe8ec
	padding: 20px 26px
	border-radius: 4px
	margin-bottom: 30px
	+r(780)
		padding: 20px 40px
	+r(700)
		padding-left: 10px
		padding-right: 10px
	img
		display: inline-block
		vertical-align: top
		margin-right: 20px
		min-width: 24px
	p
		font-size: 14px
		color: $desc
		+g

.enter
	background-color: #009de1
	padding: 60px 20px 50px
	text-align: center
	+r(780)
		padding: 50px 40px 30px
	+r(700)
		padding-left: 10px
		padding-right: 10px
	&__desc
		width: 100%
		max-width: 720px
		margin: 0 auto
		font-size: 16px
		line-height: 1.5
		color: $desc
		+g
	&__box
		width: 100%
		max-width: 420px
		margin: 0 auto
	&__btn
		background-color: #004e73
		padding: 14px 20px 12px
		border-radius: 4px
		font-size: 16px
		color: #fff
		+hb
		+tr(.4s)
		&:hover
			opacity: .8

.footnote
	padding: 0
	margin: 0 0 30px
	list-style: none
	&__item
		position: relative
		margin-bottom: 10px
		padding-left: 30px
		counter-increment: section
		font-size: 14px
		+hl
		font-style: italic
		&:before
			content: counter(section) ". "
			position: absolute
			top: 0
			left: 0px

.doctor
	display: flex
	align-items: center
	padding: 30px 30px 30px 50px
	flex: 1 0 auto
	background-color: #f3f3f3
	border-top: 2px solid #ddd
	+r(650)
		display: block
		text-align: center
		padding: 20px 20px 30px

	&__pic
		position: relative
		display: inline-block
		vertical-align: top
		width: 100px
		height: 100px
		flex: 0 0 100px
		margin-right: 40px
		border-radius: 100%
		overflow: hidden
		+r(650)
			margin: 0 0 15px 0
	&__img
		+vcenter
		width: auto
		height: auto
		min-width: 100%
		min-height: 100%
	&__title
		font-size: 16px
		letter-spacing: .075em
		line-height: 1.5
		color: #a0a0a0
		+g

	&__desc
		font-size: 14px
		line-height: 1.28
		color: $blueText
		+hr
	&-gray
		background-color: #F3F3F3
		padding: 20px 10px
		+r(650)
			padding: 20px 14px
		.doctor__desc
			color: #9b9b9b

.back
	display: flex
	align-items: center
	justify-content: center
	background-color: #009de1
	padding: 45px 20px
	+tr(.4s)
	&:hover
		background-color: $blue
	&__pic
		display: block
		font-size: 0
		margin-right: 30px
	&__img
		display: inline-block
		vertical-align: top
	&__desc
		font-size: 18px
		color: #fff
		+hl

.article
	&__list
		width: calc(100% + 20px)
		margin-left: -20px
		font-size: 0
		padding: 0
	&__item
		display: inline-block
		vertical-align: top
		width: 33.3333%
		padding-left: 20px
		+r(700)
			width: 100%

	&__pic
		position: relative
		margin-bottom: 15px
		font-size: 0
		+r(700)
			text-align: center
	&__img
		max-width: 100%
		+r(500)
			width: 100%
	.desc__b
		margin-bottom: 10px
		color: #246584
		+g

.help
	width: 100%
	display: flex
	justify-content: space-between

	+r(650)
		display: block
		border-radius: 0
	&-height
		height: 420px
		+r(650)
			display: flex
			flex-direction: column-reverse
			height: auto
			min-height: 100px
	&__half
		position: relative
		width: 50%
		border-radius: 4px 0 0 4px
		&:nth-child(even)
			border-radius: 0 4px 4px 0
		+r(650)
			width: 100%
			border-radius: 0
	&__halfest
		position: relative
		width: 49%
		border-radius: 4px
		overflow: hidden
		+r(650)
			width: 100%
			margin-bottom: 20px
			border-radius: 0
		&.mod-navy
			background-color: #074E71
			.help__upper,
			.help__title,
			.show-more
				color: #fff
			.show-more
				background-color: $n
				border-color: $yellow
				&:hover
					background-color: $yellow
					.icon-help
						background-image: url(../img/content/icon-status-navy.png)
			.icon-help
				background-image: url(../img/content/icon-status-yellow.png)
	&__content
		padding: 40px 40px 40px 50px
		height: 100%
		+r(650)
			padding: 20px 10px
	&__title
		font-size: 14px
		text-transform: uppercase
		color: $blue
		+g
	&__upper
		font-size: 18px
		text-transform: uppercase
		color: $blue
		+hbl

	&__pic
		position: relative
		width: 100%
		height: 100%
		font-size: 0
		overflow: hidden
		+r(650)
			padding-top: 50%
		+r(400)
			padding-top: 60%

	&__img
		+vcenter
		min-width: 100%
		min-height: 100%
		// +r(650)
		// 	position: static
		// 	transform: none

	.title__sx
		color: #16576C
	.show-more
		background-color: $n
	.mod-icon
		display: flex
		align-items: center
		justify-content: space-between

	.chooseCity
		margin: 0
	.title__section
		color: #fff
		+hb

.show-more
	display: inline-block
	vertical-align: top
	padding: 12px 20px
	border: 2px solid $blue
	background-color: #fff
	outline: none
	border-radius: 4px
	color: $desc
	font-size: 16px
	+hb
	+tr(.4s)
	&:hover
		background-color: $blueBlack
		color: #fff
		.icon-help
			background-image: url(../img/content/icon-status-yellow.png)
			width: 16px
			height: 15px
			background-size: 16px 15px

.icon-help
	display: inline-block
	vertical-align: top
	background-image: url(../img/content/icon-status-navy.png)
	width: 16px
	min-width: 16px
	height: 15px
	margin-left: 10px
	background-size: 16px 15px

.search
	display: flex
	align-items: center
	justify-content: flex-end
	&__fieldset
		width: 100%
		max-width: 394px
		position: relative
		border: none
		padding: 0
		margin: 0
		font-size: 0px
		border-radius: 4px
		overflow: hidden
	&__input
		margin: 0
		border: none
		outline: none
		width: 100%
		height: 50px
		padding: 5px 54px 5px 18px
		background-color: #F3F3F3
		font-size: 16px
		+hr
		+placeholder
			font-size: 14px
			color: #8A8A8A
			+g
	&__btn
		position: absolute
		top: 0
		right: 0
		bottom: 0
		width: 50px
		background-color: #074E71
		+tr(.4s)
		&:hover
			opacity: .9




.box
	&_20
		margin-bottom: 20px
	&_30
		margin-bottom: 30px
	&_40
		margin-bottom: 40px
		+r(780)
			margin-bottom: 20px
	&_60
		margin-bottom: 60px
		+r(700)
			margin-bottom: 30px
	&_80
		margin-bottom: 80px
		+r(780)
			margin-bottom: 40px
	&_t60
		padding-top: 60px
		+r(700)
			padding-top: 30px
	&_b60
		padding-bottom: 60px
		+r(700)
			padding-bottom: 30px
	&_b90
		padding-bottom: 90px
		+r(780)
			padding-bottom: 30px

.flex-center
	display: flex
	align-items: center
	justify-content: center

.mod-yellow
	background-color: #FDB434