// File for sass-vars.
$n: transparent
$blue: #004e73
$blueText: #004f71
$blueBlack: #01354c
$desc: #343535
$gray: #f3f3f3
$grayText: #8a8a8a
$yellow: #ffb51c


.icon-markerSmall
	display: inline-block
	vertical-align: top
	width: 11px
	height: 16px
	background-image: url('../img/content/marker-small.png')
	+tr(.4s)
	&:hover
		background-image: url('../img/content/marker-small-hover.png')

.chooseCity__btn:hover
	.icon-markerSmall
		background-image: url('../img/content/marker-small-hover.png')
