
<div class="ppp partner">
	<div class="ppp__layout"></div>
	<div class="ppp__content partner__content">
		<a href="#" class="icon-close js-close" data-close="ppp" data-parent="partner__content"></a>
		<h4 class="title__b">Станьте партнером</h4>
		<p class="desc__normal">Заполните форму и присоединяйтесь в качестве информационного партнера программы</p>
		<form action="/" method="post" autocomplete="off" class="form partner__form">
			<fieldset class="form__field">
				<h6 class="form__title">Город</h6>
				<input class="form__input" type="text" name="city" placeholder="Например, Новосибирск">
			</fieldset>
			<fieldset class="form__field">
				<h6 class="form__title">Название клиники</h6>
				<input class="form__input" type="text" name="clinic" >
			</fieldset>
			<fieldset class="form__field">
				<h6 class="form__title">Контактный телефон</h6>
				<input class="form__input" type="tel" name="phone">
			</fieldset>
			<fieldset class="form__field">
				<h6 class="form__title">Контактное лицо</h6>
				<input class="form__input" type="text" name="name" >
			</fieldset>
			<fieldset class="form__field" >
				<label class="check">
					<input class="agreement__checkbox" type="checkbox" name="agreement" checked>
					<span></span>
				</label>
				<p class="desc__normal">Настоящим я <a href="static/img/content/img-03.jpg" class="desc__link" download>соглашаюсь с условиями (PDF, 20Kb)</a> на обработку моих персональных данных</p >
			</fieldset>
			<button class="form__btn" >Отправить заявку</button>
		</form>
	</div>
</div>
