
<header class="header">
	<div class="header__top">
		<div class="layout__n">
			<div class="layout__m">
				<a href="/" class="logo">
					<img src="static/img/minified-svg/logo.svg" alt="logo">
				</a>

				<button class="get-help ">получить помощь</button>

				<button class="btn-menu js-open" data-open="header__bottom"></button>

			</div>
		</div>
	</div>
	<div class="header__bottom">
		<div class="layout__n ">
			<div class="layout__m flex_j">
				<nav class="header__nav">
					<ul class="nav__list">
						<li class="nav__item"><a href="#" class="nav__link">ТЕСТЫ</a></li>
						<li class="nav__item"><a href="#" class="nav__link">о депрессии</a></li>
						<li class="nav__item"><a href="#" class="nav__link">ИСТОРИИ ИЗ ЖИЗНИ</a></li>
						<li class="nav__item"><a href="#" class="nav__link">как помочь</a></li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</header>