<!-- map module-->
<div class="map-module ">
	<div class="chooseCity-title layout__m box_20 " >
		<h3 class="title__bm">Помощь близко!</h3>

		<div class="chooseCity box_20" >
			<button class="chooseCity__btn">
				<i class="icon-markerSmall"></i>
				<span>Город</span>
			</button>

			<!-- select -->
			<div class="select js-select">
	      <div class="select__text js-select-text">
	      	<span>Белгород</span>
	      </div>

	      <input class="js-select-input" type="hidden" value="">
	      <div class="select__box js-select-list">
		      <ul class="select__list">
		        <li class="select__item" data-id="0">
		        	<span>Белгород</span>
		       </li>
		        <li class="select__item" data-id="1">
		        	<span>Волгоград</span>
		       </li>
						<li class="select__item" data-id="2">
		        	<span>Воронеж</span>
		      	</li>
						<li class="select__item" data-id="3">
		        	<span>Екатеринбург</span>
		      	</li>
						<li class="select__item" data-id="4">
		        	<span>Железноводск</span>
		      	</li>
						<li class="select__item" data-id="5">
		        	<span>Ижевск</span>
		      	</li>
						<li class="select__item" data-id="6">
		        	<span>Иркутск</span>
		      	</li>
						<li class="select__item" data-id="7">
		        	<span>Казань</span>
		      	</li>
						<li class="select__item" data-id="8">
		        	<span>Калуга</span>
		      	</li>
						<li class="select__item" data-id="9">
		        	<span>Краснодар</span>
		      	</li>
						<li class="select__item" data-id="10">
		        	<span>Красноярск</span>
		      	</li>
						<li class="select__item" data-id="11">
		        	<span>Липецк</span>
		      	</li>
						<li class="select__item" data-id="12">
		        	<span>Набережные Челны</span>
		      	</li>
						<li class="select__item" data-id="13">
		        	<span>Нижний Новгород</span>
		      	</li>
						<li class="select__item" data-id="14">
		        	<span>Новороссийск</span>
		      	</li>
						<li class="select__item" data-id="15">
		        	<span>Новосибирск</span>
		      	</li>
		      </ul>
		    </div>
			</div>
			<!-- select -->

		</div>
	</div>

	<div class="map-btns">
		<button class="btn btn-map is-active">Карта</button>
		<button class="btn btn-list">Медицинские центры</button>
	</div>

	<div class="map-section">
		<div class="map-aside">
			<ul class="filial">
				<li class="filial__item">Управление делами Президента РФ Федеральное Государственное бюджетное учреждение Объединенная Больница с Поликлиникой</li>
				<li class="filial__item">Медицинский центр «Атлас»</li>
				<li class="filial__item">Медицинский центр </li>
				<li class="filial__item">КДЦ «МЕДСИ»</li>
				<li class="filial__item">МК Семейный доктор</li>
				<li class="filial__item">Управление делами Президента РФ Федеральное Государственное бюджетное учреждение Объединенная Больница с Поликлиникой</li>
				<li class="filial__item">Медицинский центр «Атлас»</li>
				<li class="filial__item">Медицинский центр </li>
				<li class="filial__item">КДЦ «МЕДСИ»</li>
				<li class="filial__item">МК Семейный доктор</li>
				<li class="filial__item">Управление делами Президента РФ Федеральное Государственное бюджетное учреждение Объединенная Больница с Поликлиникой</li>
				<li class="filial__item">Медицинский центр «Атлас»</li>
				<li class="filial__item">Медицинский центр </li>
				<li class="filial__item">КДЦ «МЕДСИ»</li>
				<li class="filial__item">МК Семейный доктор</li>
			</ul>
		</div>

		<div id="map"></div>

		<script>
	    function initMap() {
	      var uluru = {lat: 55.744510, lng: 37.605334};
	      var map = new google.maps.Map(document.getElementById('map'), {
	        zoom: 15,
	        center: uluru
	      });
	    }
	  </script>

	  <script async defer
	  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcnQgh1mE04it6R7C7t9Yx0oAZ5nykT_c&callback=initMap">
	  </script>
	</div>

	<div class="hiden-map-info" >
	  <div class="map-content">
	  	<h5 class="map__title">Управление делами Президента РФ Федеральное Государственное бюджетное учреждение Объединенная Больница с Поликлиникой</h5>
	  	<p class="map__address">Москва, Мичуринский проспект д. 6</p>
	  	<div class="map__contact">
	  		<div class="map__row">
	  			<img src="static/img/content/icon-tel.png" alt="tel">
	  			<a href="tel:+74952121111" class="map__tel" data-tel="+7 (495) 212 1111">+7 (495) 212 ****</a>
	  			<button class="show-tel">Показать номер</button>
	  		</div>
	  		<div class="map__row">
	  			<img src="static/img/content/icon-earth.png" alt="tel">
	  			<a href="http://medsi.ru/clinics/belorusska" class="map__site">http://medsi.ru/clinics/belorusska</a>
	  		</div>
	  	</div>
	 		<p class="map__info">Дополнительная информация: Для записи на прием к врачу позвоните, пожалуйста, по указанному телефону. Обязательно уточните, работает ли клиника по ОМС, ДМС полисам или организован платный прием.</p>
	  </div>
	</div>

</div>
<!-- map -->