
<div class="questions">
	<div class="questions__header box_60">
		<h4 class="title__big">Вопрос <span>1</span></h4>

		<div class="meter">

		</div>

	</div>

	<div class="questions__content">
		<!-- #1 -->
		<div class="question" id="question-01">
			<div class="question__pic">
				<img src="static/img/content/patient/01.jpg" alt="qpic" class="question__img">
			</div>
			<div class="question__question">
				<h4 class="title__sb">Я напряжен, мне не по себе</h4>
				<div class="question__variant">
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q1" >
							<span>Совсем нет</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q1" checked="">
							<span>Время от времени</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q1" >
							<span>Много времени</span>
						</label>
						</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q1" >
							<span>Большую часть времени</span>
						</label>
					</div>
				</div>

			</div>
		</div>
		<!-- #2 -->
		<div class="question" id="question-02">
			<div class="question__pic">
				<img src="static/img/content/patient/02.jpg" alt="qpic" class="question__img">
			</div>
			<div class="question__question">
				<h4 class="title__sb">То, что приносило удовольствие, и сейчас вызывает такое же чувство</h4>
				<div class="question__variant">
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q1" >
							<span>Определённо это так</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q1" >
							<span>Наверное, это так</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q1" >
							<span>Лишь в очень малой степени это так</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q1" >
							<span>Это совсем не так</span>
						</label>
					</div>

				</div>

			</div>
		</div>
		<!-- #3 -->
		<div class="question" id="question-03">
			<div class="question__pic">
				<img src="static/img/content/patient/03.jpg" alt="qpic" class="question__img">
			</div>
			<div class="question__question">
				<h4 class="title__sb">Я испытываю страх, кажется, будто что-то ужасное может вот-вот случиться</h4>
				<div class="question__variant">
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q1" >
							<span>Совсем нет</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q1" >
							<span>Иногда, но это меня не беспокоит</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q1" >
							<span>Это так, но страх не очень сильный</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q1" >
							<span>Определённо так и страх очень сильный</span>
						</label>
					</div>

				</div>

			</div>
		</div>
		<!-- #4 -->
		<div class="question" id="question-04">
			<div class="question__pic">
				<img src="static/img/content/patient/04.jpg" alt="qpic" class="question__img">
			</div>
			<div class="question__question">
				<h4 class="title__sb">Я способен рассмеяться и видеть смешное</h4>
				<div class="question__variant">
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q1" >
							<span>Определённо это так</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q1" >
							<span>Наверное, это так</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q1" >
							<span>Лишь в очень малой степени это так</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q1" >
							<span>Совсем нет</span>
						</label>
					</div>
				</div>
			</div>
		</div>
		<!-- #5 -->
		<div class="question" id="question-05">
			<div class="question__pic">
				<img src="static/img/content/patient/05.jpg" alt="qpic" class="question__img">
			</div>
			<div class="question__question">
				<h4 class="title__sb">Беспокойные мысли крутятся в голове</h4>
				<div class="question__variant">
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q1" >
							<span>Только иногда</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q1" >
							<span>Время от времени и не так часто</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q1" >
							<span>Большую часть времени</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q1" >
							<span>Постоянно</span>
						</label>
					</div>

				</div>
			</div>
		</div>
		<!-- #6 -->
		<div class="question" id="question-06">
			<div class="question__pic">
				<img src="static/img/content/patient/06.jpg" alt="qpic" class="question__img">
			</div>
			<div class="question__question">
				<h4 class="title__sb">Я испытываю бодрость</h4>
				<div class="question__variant">
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q1" >
							<span>Большую часть времени</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q1" >
							<span>Иногда</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q1" >
							<span>Очень редко</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q1" >
							<span>Совсем не испытываю</span>
						</label>
					</div>
				</div>
			</div>
		</div>
		<!-- #7 -->
		<div class="question" id="question-07">
			<div class="question__pic">
				<img src="static/img/content/patient/07.jpg" alt="qpic" class="question__img">
			</div>
			<div class="question__question">
				<h4 class="title__sb">Я легко могу сесть и расслабиться</h4>
				<div class="question__variant">
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q1" >
							<span>Определённо это так</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q1" >
							<span>Наверное, это так</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q1" >
							<span>Не часто</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q1" >
							<span>Совсем нет</span>
						</label>
					</div>
				</div>
			</div>
		</div>
		<!-- #8 -->
		<div class="question" id="question-08">
			<div class="question__pic">
				<img src="static/img/content/patient/08.jpg" alt="qpic" class="question__img">
			</div>
			<div class="question__question">
				<h4 class="title__sb">Мне кажется, что все делаю очень медленно</h4>
				<div class="question__variant">
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q1" >
							<span>Совсем нет</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q1" >
							<span>Иногда</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q1" >
							<span>Очень часто</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q1" >
							<span>Почти все время</span>
						</label>
					</div>
				</div>
			</div>
		</div>
		<!-- #9 -->
		<div class="question" id="question-09">
			<div class="question__pic">
				<img src="static/img/content/patient/09.jpg" alt="qpic" class="question__img">
			</div>
			<div class="question__question">
				<h4 class="title__sb">Я испытываю внутреннее напряжение</h4>
				<div class="question__variant">
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q1" >
							<span>Совсем нет</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q1" >
							<span>Иногда</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q1" >
							<span>Часто</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q1" >
							<span>Очень часто</span>
						</label>
					</div>

				</div>
			</div>
		</div>
		<!-- #10 -->
		<div class="question" id="question-10">
			<div class="question__pic">
				<img src="static/img/content/patient/10.jpg" alt="qpic" class="question__img">
			</div>
			<div class="question__question">
				<h4 class="title__sb">Я не слежу за своей внешностью</h4>
				<div class="question__variant">
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q10" >
							<span>Я слежу за собой так же, как и раньше</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q10" >
							<span>Возможно, стал меньше уделять времен</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q10" >
							<span>Я не уделяю столько времени, сколько нужно</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q10" >
							<span>Определенно это так</span>
						</label>
					</div>
				</div>
			</div>
		</div>
		<!-- #11 -->
		<div class="question" id="question-11">
			<div class="question__pic">
				<img src="static/img/content/patient/11.jpg" alt="qpic" class="question__img">
			</div>
			<div class="question__question">
				<h4 class="title__sb">Я испытываю неусидчивость, словно мне постоянно нужно двигаться</h4>
				<div class="question__variant">
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q11" >
							<span>Совсем нет</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q11" >
							<span>Лишь в некоторой степени это так</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q11" >
							<span>Наверное, это так</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q11" >
							<span>Определённо это так</span>
						</label>
					</div>
				</div>
			</div>
		</div>
		<!-- #12 -->
		<div class="question" id="question-12">
			<div class="question__pic">
				<img src="static/img/content/patient/12.jpg" alt="qpic" class="question__img">
			</div>
			<div class="question__question">
				<h4 class="title__sb">Я считаю, что мои дела принесут удовлетворение</h4>
				<div class="question__variant">
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q12" >
							<span>Точно так же, как и обычно</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q12" >
							<span>Но не в такой степени, как раньше</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q12" >
							<span>Определенно меньше, чем обычно</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q12" >
							<span>Совсем так не считаю</span>
						</label>
					</div>
				</div>
			</div>
		</div>
		<!-- #13 -->
		<div class="question" id="question-13">
			<div class="question__pic">
				<img src="static/img/content/patient/13.jpg" alt="qpic" class="question__img">
			</div>
			<div class="question__question">
				<h4 class="title__sb">У меня бывает внезапное чувство паники</h4>
				<div class="question__variant">
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q13" >
							<span>Совсем нет</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q13" >
							<span>Не так уж часто</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q13" >
							<span>Довольно часто</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q13" >
							<span>Очень часто</span>
						</label>
					</div>
				</div>
			</div>
		</div>
		<!-- #14 -->
		<div class="question" id="question-14">
			<div class="question__pic">
				<img src="static/img/content/patient/14.jpg" alt="qpic" class="question__img">
			</div>
			<div class="question__question">
				<h4 class="title__sb">Я получаю удовольствие от хорошей книги, радиопередачи или ТВ</h4>
				<div class="question__variant">
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q14" >
							<span>Часто</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q14" >
							<span>Иногда</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q14" >
							<span>Редко</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" name="q14" >
							<span>Очень редко</span>
						</label>
					</div>
				</div>
			</div>
		</div>


		<!-- **************************** -->

	</div>

	<div class="questions__footer box_t40">
		<button class="btn-back">
			<i class="icon-back"></i>
			Назад
		</button>
		<button class="btn-next">
			Перейти к следующему вопросу
			<i class="icon-help"></i>
		</button>
	</div>
</div>