

<div class="questions questions-resurs">
	<div class="questions__header box_60">
		<h4 class="title__big">Вопрос <span>1</span></h4>

		<div class="meter">
			<div class="meter__text">
				<span class="meter__start">1</span>
				<span class="meter__static"> из </span>
				<span class="meter__end">10</span>
			</div>
			<div class="meter-ui"></div>
		</div>

	</div>

	<div class="questions__content">
		<!-- #1 -->
		<div class="question is-active" id="question-1">
			<div class="question__pic">
				<img src="static/img/content/patient/01.jpg" alt="qpic" class="question__img">
			</div>
			<div class="question__question">
				<h4 class="title__sb">На шумной вечеринке я обычно:</h4>
				<div class="question__variant">
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="a" name="q1"  checked="">
							<span>Редко знаю меру в напитках, от души веселюсь, и никто меня не остановит</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="b" name="q1" >
							<span>Завожу новые знакомства, обсуждаю новинки моды </span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="c" name="q1" >
							<span>Вряд ли вообще пойду на вечеринку, сидеть дома за просмотром фильма куда интереснее</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="d" name="q1" >
							<span>Сижу у бара в уголке, изредка робко поглядываю в зал, может кто-нибудь заметит и подойдет</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="e" name="q1" >
							<span>С удовольствием произнесу тост, попросят — могу и спеть, и танцевать до упаду… А потом пойду на after–party.</span>
						</label>
					</div>
				</div>

			</div>
		</div>
		<!-- #2 -->
		<div class="question" id="question-2">
			<div class="question__pic">
				<img src="static/img/content/patient/02.jpg" alt="qpic" class="question__img">
			</div>
			<div class="question__question">
				<h4 class="title__sb">Решив посмотреть фильм, я скорее всего выберу:</h4>
				<div class="question__variant">
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="a" name="q2"  checked="">
							<span>Триллер, ужасы или детектив.</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="b" name="q2" >
							<span>Мелодраму.</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="c" name="q2" >
							<span>Фантастический фильм.</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="d" name="q2" >
							<span>Драму для размышлений о жизни.</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="e" name="q2" >
							<span>Комедию или приключенческий фильм.</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="1" name="q2" >
							<span>Наверное, это так</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="2" name="q2" >
							<span>Лишь в очень малой степени это так</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="3" name="q2" >
							<span>Это совсем не так</span>
						</label>
					</div>

				</div>

			</div>
		</div>
		<!-- #3 -->
		<div class="question" id="question-3">
			<div class="question__pic">
				<img src="static/img/content/patient/03.jpg" alt="qpic" class="question__img">
			</div>
			<div class="question__question">
				<h4 class="title__sb">Если любимый человек задержался на встрече с друзьями, я:</h4>
				<div class="question__variant">
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="a" name="q3" checked="">
							<span>Организую встречу своих друзей.</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="b" name="q3" >
							<span>Намеками поставлю его (ее) в известность, что недоволен(на) его (ее) поведением, а когда вернется, показательно обижусь.</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="c" name="q3" >
							<span>Буду заниматься своими делами, у каждого своя жизнь.</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="d" name="q3" >
							<span>Задумаюсь, а вдруг я ему (ей) перестал(а) нравиться.</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="e" name="q3" >
							<span>Напрошусь к нему(ей) в компанию и отлично проведу время.</span>
						</label>
					</div>
				</div>
			</div>
		</div>
		<!-- #4 -->
		<div class="question" id="question-4">
			<div class="question__pic">
				<img src="static/img/content/patient/04.jpg" alt="qpic" class="question__img">
			</div>
			<div class="question__question">
				<h4 class="title__sb">В стрессовой ситуации я обычно:</h4>
				<div class="question__variant">
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="a" name="q4"  checked="">
							<span>Сначала тревожусь и не могу найти себе места, затем успокаиваюсь, собираюсь с мыслями и решаю вопрос. </span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="b" name="q4" >
							<span>Звоню друзьям и в красках рассказываю о событиях.</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="c" name="q4" >
							<span>Провожу основательный поиск информации в книгах или интернете для того, чтобы изучить вопрос и возможные пути выхода из ситуации.</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="d" name="q4" >
							<span>Стараюсь не думать о проблеме, пью сладкий чай с шоколадом.</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="e" name="q4" >
							<span>Понимаю, что и не с таким справлялся(лась), а значит разрешу и этот вопрос.</span>
						</label>
					</div>

				</div>
			</div>
		</div>
		<!-- #5 -->
		<div class="question" id="question-5">
			<div class="question__pic">
				<img src="static/img/content/patient/05.jpg" alt="qpic" class="question__img">
			</div>
			<div class="question__question">
				<h4 class="title__sb">Если выдается свободное время, то скорее всего я:</h4>
				<div class="question__variant">
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="a" name="q5"  checked="">
							<span>Поеду кататься на коньках/роликах/сноуборде/велосипеде, а может наконец-таки прыгну с парашютом.</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="b" name="q5"  >
							<span>Схожу к брадобрею, парикмахеру или на массаж (посещу спа-салон), а после хорошего шоппинга или прогулки посижу с друзьями (подругами) в кафе.</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="c" name="q5"  >
							<span>Почитаю книгу, послушаю музыку.</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="d" name="q5"  >
							<span>Займусь своими делами, дождусь домашних, чтобы вместе посмотреть телевизор..</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="e" name="q5"  >
							<span>Приглашу к себе друзей, возможно наготовлю разнообразных блюд (пожарю шашлык).</span>
						</label>
					</div>

				</div>
			</div>
		</div>
		<!-- #6 -->
		<div class="question" id="question-6">
			<div class="question__pic">
				<img src="static/img/content/patient/06.jpg" alt="qpic" class="question__img">
			</div>
			<div class="question__question">
				<h4 class="title__sb">Если планы на день оказываются неосуществимыми по ряду причин, то я:</h4>
				<div class="question__variant">
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="a" name="q6"  checked="">
							<span>Сразу придумаю, чем можно еще заняться, на свете так много интересных дел!</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="b" name="q6" >
							<span>Обязательно выскажу свое недовольство тому, кого считаю виновным в срыве моих планов.</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="c" name="q6" >
							<span>Задумаюсь, почему произошло именно так, ведь все в мире бренно, и суета эта — лишь видимость настоящей жизни. </span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="d" name="q6" >
							<span>Почувствую растерянность и беспокойство, ведь мне не очень ясны причины. Может, я что-то сделал(а) не так? С огорчением задумаюсь о предстоящих действиях, все было так хорошо распланировано!</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="e" name="q6" >
							<span>Что ж, можно сделать перерыв и с удовольствием пообедать в новой кафешке за углом.</span>
						</label>
					</div>


				</div>
			</div>
		</div>
		<!-- #7 -->
		<div class="question" id="question-7">
			<div class="question__pic">
				<img src="static/img/content/patient/07.jpg" alt="qpic" class="question__img">
			</div>
			<div class="question__question">
				<h4 class="title__sb">С друзьями (подругами) нас объединяет:</h4>
				<div class="question__variant">
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="a" name="q7"  checked="">
							<span>Легкость на подъем и авантюризм. Кто знает, куда занесет нас сегодня вечером?</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="b" name="q7" >
							<span>Любовь к обсуждению общих знакомых, стиль в одежде и сходные предпочтения в выборе женщин (мужчин).</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="c" name="q7" >
							<span>У меня мало друзей. Обсудить труды экзистенциальных философов можно и в чате.</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="d" name="q7" >
							<span>Мои друзья — моя семья. Нас объединят взаимная забота.</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="e" name="q7" >
							<span>Любовь к застольям и теплым дружеским встречам в компании друзей.</span>
						</label>
					</div>

				</div>
			</div>
		</div>
		<!-- #8 -->
		<div class="question" id="question-8">
			<div class="question__pic">
				<img src="static/img/content/patient/08.jpg" alt="qpic" class="question__img">
			</div>
			<div class="question__question">
				<h4 class="title__sb">Когда я простужен(а) и лежу дома с температурой:</h4>
				<div class="question__variant">
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="a" name="q8"  checked="">
							<span>Звоню друзьям, узнаю, что происходит в мое отсутствие. Приму жаропонижающее и выберусь на встречу — не хочу пропустить что-то интересное.</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="b" name="q8" >
							<span>Укутываюсь тщательно, пью приготовленный мамой чай с малиной, оживаю, когда близкие справляются о моем здоровье.</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="c" name="q8" >
							<span>Замечательное время, когда никто не беспокоит, можно полежать спокойно, выспаться, послушать аудио-книги.</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="d" name="q8" >
							<span>Волнуюсь о том, что выбит(а) из колеи, доставляю близким множество хлопот, к тому же приходится откладывать дела и думать, как поскорее наверстать упущенное.</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="e" name="q8" >
							<span>Ну с кем не бывает, и в этом есть своя задумка. Сделаю передышку и снова в бой.</span>
						</label>
					</div>

				</div>
			</div>
		</div>
		<!-- #9 -->
		<div class="question" id="question-9">
			<div class="question__pic">
				<img src="static/img/content/patient/09.jpg" alt="qpic" class="question__img">
			</div>
			<div class="question__question">
				<h4 class="title__sb">Если у меня теперь есть абонемент в фитнес клуб (подарок):</h4>
				<div class="question__variant">
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="a" name="q9"  checked="">
							<span>С большим энтузиазмом схожу пару раз, тренажеры, гантели — это замечательно. Вряд ли буду ходить регулярно, ведь столько всего еще есть интересного.</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="b" name="q9" >
							<span>Отличная возможность, это то, что надо. Наконец-то сброшу ненужные килограммы, подкачаю мышцы, может, познакомлюсь с кем-нибудь.</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="c" name="q9" >
							<span>Пустая трата времени. Эта карта пригодится кому-нибудь еще.</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="d" name="q9" >
							<span>О своем здоровье очень важно заботиться. Но как-то странно ходить на фитнес одной. Поищу себе компанию.</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="e" name="q9" >
							<span>Давно думал(а) об этом. Схожу на сеансы релаксационного массажа, позагораю, посижу в джакузи — удовольствие!</span>
						</label>
					</div>


				</div>
			</div>
		</div>
		<!-- #10 -->
		<div class="question" id="question-10">
			<div class="question__pic">
				<img src="static/img/content/patient/10.jpg" alt="qpic" class="question__img">
			</div>
			<div class="question__question">
				<h4 class="title__sb">Если в рабочем коллективе сотрудники разделились на два противоборствующих фронта, я скорее всего:</h4>
				<div class="question__variant">
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="a" name="q10"  checked="">
							<span>Приму активную позицию одной из сторон.</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="b" name="q10" >
							<span>Буду на стороне большинства.</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="c" name="q10" >
							<span>Останусь в стороне – сами разберутся.</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="d" name="q10" >
							<span>Буду испытывать дискомфорт и волнение, постараюсь не давать виду.</span>
						</label>
					</div>
					<div class="question__answer">
						<label class="radio">
							<input class="radio__input" type="radio" data-point="e" name="q10" >
							<span>Потребуют моего мнения – постараюсь отшутиться. Рано или поздно все уляжется само по себе.</span>
						</label>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="questions__footer box_t40">
		<button class="btn-back">
			<i class="icon-back"></i>
			Назад
		</button>
		<a href="#" class="btn-next" data-relocate="patient-result.html">
			Перейти к следующему вопросу
			<i class="icon-help"></i>
		</a >
	</div>
</div>
